[submodule "deps/standard"]
	path = deps/standard
	url = https://github.com/stupid-birdbrain/standard.git
[submodule "deps/magpie-shaderc"]
	path = deps/magpie-shaderc
	url = https://github.com/stupid-birdbrain/magpie-shaderc.git
[submodule "deps/stained-glass"]
	path = deps/stained-glass
	url = https://github.com/stupid-birdbrain/stained-glass.git
